body {
  background-color: palevioletred;
  font-family: "Indie Flower", cursive;
  color: whitesmoke;
}

.highscoreDisplay {
  float: left;
  text-decoration: none;
  color: whitesmoke;
}

.timerDisplay {
  float: right;
}

.quizContainerStyle {
  background-color: paleturquoise;
  color: palevioletred;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 1rem;
}
div.innerContentStyle {
  display: list-item;
  padding-top: 1rem;
}
